<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Youtube Video Comment Scraper and Sentiment Analyzer</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
    ></script>
  </head>
  <body>
    <h1>WELCOME</h1>
    <h2>Youtube Comment Analyzer</h2>
    <p>THE APPLICATION HELPS YOU ANALYZE THE MEANINGS OF FEELINGS</p>

    <form method="post" action="/scrap">
      <label for="youtube_url">Paste your YouTube video URL:</label><br />
      <input type="text" id="youtube_url" name="youtube_url" /><br /><br />

      <label for="user_email">Type your email address:</label><br />
      <input type="text" id="user_email" name="user_email" /><br /><br />

      <input
        type="submit"
        value="Submit"
        id="submit_button"
        onclick="$('#loading').show();"
      /><br /><br />
    </form>

    <div id="loading">
      <span style="--i: 1">F</span>
      <span style="--i: 2">E</span>
      <span style="--i: 3">T</span>
      <span style="--i: 4">C</span>
      <span style="--i: 5">H</span>
      <span style="--i: 6">I</span>
      <span style="--i: 7">N</span>
      <span style="--i: 8">G&nbsp;</span>
      <span style="--i: 9">C</span>
      <span style="--i: 10">O</span>
      <span style="--i: 11">M</span>
      <span style="--i: 12">M</span>
      <span style="--i: 13">E</span>
      <span style="--i: 14">N</span>
      <span style="--i: 15">T</span>
      <span style="--i: 16">S</span>
      <span style="--i: 17">.</span>
      <span style="--i: 18">.</span>
      <span style="--i: 19">.</span>
      <span style="--i: 20">.</span>
    </div>

    {% if after_complete_message %}
    <h3>{{ after_complete_message }}</h3>
    <div>
      <p><strong>Video Title:</strong> {{ title }}</p>
      <p><strong>Video Published by:</strong> {{ owner }}</p>
      <p>
        <strong>Total Comments including replies:</strong> {{ comment_w_replies
        }}
      </p>
      <p>
        <strong>Total Comments without replies:</strong> {{ comment_wo_replies
        }}
      </p>
      <p><strong>Total Positive Comments:</strong> {{ positive_comment }}</p>
      <p><strong>Total Negative Comments:</strong> {{ negative_comment }}</p>
    </div>
    {% endif %}

    <div style="overflow-x: auto">
      {% if after_complete_message %}
      <h3><span class="pos_head">Positive Comments</span></h3>
      <table>
        <tbody>
          {% for pos_comment in pos_comments_csv %}
          <tr>
            {{ pos_comment | safe }}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    <div style="overflow-x: auto">
      {% if after_complete_message %}
      <h3><span class="neg_head">Negative Comments</span></h3>
      <table>
        <tbody>
          {% for neg_comment in neg_comments_csv %}
          <tr>
            {{ neg_comment | safe }}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </body>
</html>
