body{
    background-color: #E3E2DF;
    /*background-image: "C:\Users\hamza_sk\Desktop\Hamza\BE\project\front_end\bg.jpeg";
    /*background-repeat:no-repeat;*/
    text-align: center;
    background-size: 100%;
}

/*letter style*/
h{
    color: rgb(6, 48, 146);
    font: "Script MT Bold";
    margin: 20px;
    font-size: 1.5em;
}
h1{
    color: #6a155c;
    font: "Script MT Bold";
    margin: 20px;
    font-size: 1.9em;
}
h3{
    color: palevioletred;
    font-size: 1.3em;
}
.res_mes{
    text-align: left;
    color: slategrey;
    font-size: 1.2em;
}
.pos_head{
    color: green;
    font-size: 1.4em;
    margin: 10px;
}
.neg_head{
    color: red;
    font-size: 1.4em;
    margin: 10px;
}

/*input style*/
input{
    color: black;
    background-color: #E3E2DF;
    width: 400px;
    height: 30px;
    margin: 10px;
    border: solid 2px darkslategray;
    border-radius: 10px;
    font: Georgia;
    font-size: 1em;
}
input:focus{
    border: solid 2px rgb(179, 216, 216);
    outline: none;
    background-color: darkgray;
}
input:hover{
    background-color: darkgray;
}

/*table style*/
table{
    text-align: left;
    border-spacing: 0px;
    margin: 2rem;
    background-color: white;
}
tr{
    color: black;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even){
    background-color: #C0C0C0;
}
tr:hover{
    background-color: #708090;
}

/*scrap button style*/
#submit_button{
    background-color: #9b5094;
    color: #E3E2DF;
    width: 150px; /* reduced width */
    height: 30px; /* reduced height */
    border: none;
    padding: 5px 10px; /* added padding */
}

#submit_button:hover{
    background-color: #1a4e5c; /* changed background color */
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}

#submit_button:focus{
    border: none;
}

/*loading style*/
#loading{
  margin: 60px;
  display: none;
  position: relative;
}
#loading span {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: darkslategray;
  /*text-transform: uppercase;*/
  animation: flip 5s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

/* img{
    size: 100px 100px;
} */